:root {
  /*------------------colors-----------------------------*/

  --color-primary: #185cff;
  --color-secondary: #002b4e;
  --color-tetiary: #f0f9ff;
  --color-helper-blue-1: #194060;
  --color-helper-blue-2: #607d94;
  --color-helper-blue-3: #c9dcec;
  --color-black: #292d33;
  --color-grey: #9497a1;
  --color-background: #f1f6fa;
  --color-red: #c14040;
  --color-white: #ffffff;
  --color-hovered-button: #467dff;

  --color-text: var(--color-white);

  /*------------------shadows-----------------------------*/
  --shadow-button: 0px 12px 30px rgba(24, 92, 255, 0.18);
  --shadow-card-1: 0px 2px 20px 17px rgba(24, 92, 255, 0.04);
  --shadow-card-2: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
  --shadow-card-3: 0px 4px 12px rgba(12, 68, 204, 0.1);
  --shadow-dropdown: 0px 2px 6px rgba(0, 43, 78, 0.15),
    0px 1px 2px rgba(0, 43, 78, 0.3);
  --shadow-radius: 6px;
  --radius-button: 6px;
  --radius-button-circle-desktop: 70px;
  --radius-button-circle-mobile: 50px;

  /*------------------fonts-----------------------------*/

  font-family: "Manrope", sans-serif;
  font-size: 16px;
  letter-spacing: -0.015em;
}

/*--------------------------------------------------------*/
/*------------------headlines-----------------------------*/
html {
  background-color: var(--color-grey);
}
h1 {
  font-size: 2.875rem;
  color: var(--color-black);
  font-weight: 800;
}

h2 {
  font-size: 2.375rem;
  color: var(--color-black);
  font-weight: 800;
}

h3 {
  font-size: 1.875rem;
  color: var(--color-black);
  font-weight: 800;
}

h4 {
  font-size: 1.375rem;
  color: var(--color-black);
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
  color: var(--color-black);
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  color: var(--color-black);
  font-weight: 700;
}

h7 {
  font-size: 0.875rem;
  color: var(--color-black);
  font-weight: 600;
}

/*--------------------------------------------------------*/
/*------------------paragraphs-----------------------------*/

.p1r {
  font-family: "Open Sans";
  font-size: 1.25rem;
  color: var(--color-black);
  font-weight: 400;
}

.p2r {
  font-family: "Open Sans";
  font-size: 1rem;
  color: var(--color-black);
  font-weight: 400;
}

.p2b {
  font-family: "Open Sans";
  font-size: 1rem;
  color: var(--color-black);
  font-weight: 700;
}

.p3r {
  font-family: "Open Sans";
  font-size: 0.875rem;
  color: var(--color-black);
  font-weight: 400;
}

.p3b {
  font-family: "Open Sans";
  font-size: 0.875rem;
  color: var(--color-black);
  font-weight: 600;
}

/*--------------------------------------------------------*/
/*------------------shadows-----------------------------*/

div {
  margin: 70px 10px;
}
.shadow_button {
  box-shadow: var(--shadow-button);
  border-radius: var(--shadow-radius);
}

.shadow_card_1 {
  box-shadow: var(--shadow-card-1);
  border-radius: var(--shadow-radius);
}

.shadow_card_2 {
  box-shadow: var(--shadow-card-2);
  border-radius: var(--shadow-radius);
}

.shadow_card_3 {
  box-shadow: var(--shadow-card-3);
  border-radius: var(--shadow-radius);
}

.shadow_dropdown {
  box-shadow: var(--shadow-dropdown);
  border-radius: var(--shadow-radius);
}

/*--------------------------------------------------------*/
/*------------------buttons-----------------------------*/

button {
  margin: 70px 10px;
}

.button_fill {
  color: var(--color-white);
  border: none;
  background-color: var(--color-primary);
  box-shadow: var(--shadow-button);
  border-radius: var(--shadow-radius);
  font-family: "Manrope";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 46px;
  gap: 12px;
  width: 190px;
  height: 54px;
}

.button_fill:hover {
  background-color: var(--color-hovered-button);
}

.button_fill:active {
  background-color: var(--color-primary);
  box-shadow: none;
}

.button_fill:disabled {
  background-color: var(--color-grey);
  box-shadow: none;
}

/*--------------------------------------------------------*/

.button_with_icon {
  color: var(--color-white);
  border: none;
  background-color: var(--color-primary);
  box-shadow: none;
  border-radius: var(--shadow-radius);
  font-family: "Manrope";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px, 14px, 10px, 14px;
  gap: 10px;
  width: 168px;
  height: 44.54px;
}

.button_with_icon:hover {
  background-color: var(--color-hovered-button);
  box-shadow: var(--shadow-button);
}

.button_with_icon:active {
  background-color: var(--color-primary);
  box-shadow: none;
}

.button_with_icon:disabled {
  background-color: var(--color-grey);
}

/*--------------------------------------------------------*/

.button_with_icon_no_fill {
  color: var(--color-black);
  border: none;
  background-color: var(--color-white);
  box-shadow: none;
  border-radius: var(--shadow-radius);
  font-family: "Manrope";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px, 14px, 10px, 14px;
  gap: 10px;
  width: 168px;
  height: 44.54px;
}

svg.play_icon path {
  fill: var(--color-black);
}

.button_with_icon_no_fill:hover {
  color: var(--color-primary);
}
.button_with_icon_no_fill:hover svg path {
  fill: var(--color-primary);
}

.button_with_icon_no_fill:active {
  color: var(--color-primary);
}

.button_with_icon_no_fill:active svg path {
  fill: var(--color-primary);
}

.button_with_icon_no_fill:disabled {
  color: var(--color-grey);
}

.button_with_icon_no_fill:disabled svg path {
  fill: var(--color-grey);
}

/*--------------------------------------------------------*/

.button_with_icon_no_fill_big {
  color: var(--color-black);
  border: none;
  background-color: var(--color-white);
  box-shadow: none;
  border-radius: var(--shadow-radius);
  font-family: "Manrope";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px, 26px, 11px, 26px;
  gap: 10px;
  width: 218px;
  height: 54px;
}

svg.play_icon_big path {
  fill: var(--color-black);
}

.button_with_icon_no_fill_big:hover {
  color: var(--color-primary);
}
.button_with_icon_no_fill_big:hover svg path {
  fill: var(--color-primary);
}

.button_with_icon_no_fill_big:active {
  color: var(--color-primary);
}

.button_with_icon_no_fill_big:active svg path {
  fill: var(--color-primary);
}

.button_with_icon_no_fill_big:disabled {
  color: var(--color-grey);
}

.button_with_icon_no_fill_big:disabled svg path {
  fill: var(--color-grey);
}

/*--------------------------------------------------------*/

.button_little {
  color: var(--color-white);
  border: none;
  background-color: var(--color-primary);
  box-shadow: none;
  border-radius: var(--shadow-radius);
  font-family: "Manrope";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 14px 10px 14px;
  gap: 10px;
  width: 137px;
  height: 44px;
}

.button_little:hover {
  background-color: var(--color-hovered-button);
  box-shadow: var(--shadow-button);
}

.button_little:active {
  background-color: var(--color-primary);
  box-shadow: none;
}

.button_little:disabled {
  background-color: var(--color-grey);
  box-shadow: none;
}

/*--------------------------------------------------------*/
.button_circle_desktop {
  color: var(--color-white);
  border: 10px solid var(--color-white);
  background-color: var(--color-primary);
  box-shadow: none;
  border-radius: var(--radius-button-circle-desktop);
  font-family: "Manrope";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 14px 10px 14px;
  gap: 10px;
  width: 140px;
  height: 140px;
}

.button_circle_desktop svg {
  position: absolute;
}

.button_circle_desktop:hover {
  background-color: var(--color-hovered-button);
}

.button_circle_desktop:active {
  background-color: var(--color-primary);
}

.button_circle_desktop:disabled {
  background-color: var(--color-grey);
}

/*--------------------------------------------------------*/
.button_circle_mobile {
  color: var(--color-white);
  border: 5px solid var(--color-white);
  background-color: var(--color-primary);
  box-shadow: none;
  border-radius: var(--radius-button-circle-mobile);
  font-family: "Manrope";
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100px;
  height: 100px;
  letter-spacing: -0.015em;
}

.button_circle_mobile svg {
  position: absolute;
}

.button_circle_mobile:active {
  background-color: var(--color-hovered-button);
}

.button_circle_mobile:disabled {
  background-color: var(--color-grey);
}

/*--------------------------------------------------------*/
.button_search {
  color: var(--color-white);
  border: none;
  background-color: var(--color-primary);
  box-shadow: none;
  border-radius: var(--radius-button);
  font-family: "Manrope";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  width: 84px;
  height: 54px;
}
.button_search svg {
  position: absolute;
}

.button_search:active {
  background-color: var(--color-hovered-button);
}

.button_search:disabled {
  background-color: var(--color-grey);
}

/*--------------------------------------------------------*/

.button_with_icon_outlined {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  box-shadow: none;
  border-radius: var(--radius-button);
  font-family: "Manrope";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px, 26px, 11px, 26px;
  gap: 10px;
  width: 328px;
  height: 54px;
}

svg.play_icon_big path {
  fill: var(--color-primary);
}

.button_with_icon_outlined:active {
  color: var(--color-hovered-button);
  border: 1px solid var(--color-hovered-button);
}

.button_with_icon_outlined:active svg path {
  fill: var(--color-hovered-button);
}

.button_with_icon_outlined:disabled {
  color: var(--color-grey);
  border: 1px solid var(--color-grey);
}

.button_with_icon_outlined:disabled svg path {
  fill: var(--color-grey);
}
